.brand-pt-search{
	width: 100%;
	min-height: 4.25rem;
	background: #414141 url(../images/wap-banner.png) no-repeat top center;
	background-size: 100% auto;
	padding-bottom: 0.2rem;
	overflow: hidden;
	margin-top: 0.84rem;
}
.brand-pt-search .search-main{
	padding-left: 0.27rem;
	padding-right: 0.27rem;
	margin-top: 2.22rem;
}
.brand-pt-search-tit{
	/*display:-webkit-flex;
	display: flex;*/
	overflow: hidden;
	
}
.brand-pt-search-tit b{
	display: inline-block;
	width: 50%;
	float:left;
	height: 0.66rem;
	line-height: 0.66rem;
	color: #b1b1b1;
	border-bottom: 1px solid #2d2d2d;
	text-align: center;
	cursor: pointer;
}
.brand-pt-search-tit b.active{
	border-bottom: 1px solid #f38e8e;
	color: #FFFFFF;
    transition:all 0.4s;
}
.buy-tit b.on{
    border-bottom: 1px solid #f38e8e;
    color: #f38e8e;
    transition:all 0.4s;
}
.search-main .brand-inp{
	width:95%;
	height: 0.7rem;
	margin-top: 0.13rem;
}
.search-main .search-btn{
    display: inline-block;
    width: 16.6%;
    height: 0.7rem;
    background: url(../images/search-ico.png) no-repeat center top;
    background-size: 100% 100%;
    float: left;
    cursor: pointer;
    border: 0px;
}
.search-main .search-inp{
	display: inline-block;
    width: 82.5%;
    height: 0.64rem;
    line-height: 0.64rem;
    float: left;
    text-indent: 0.2rem;
    color: #999999;
}
.brand-box{
	height: auto !important;
}
.brand-box p {
	display:block;
	margin-top: 0.18rem;
}
.brand-box p a{
	display: inline-block;
	color: #FFFFFF;
	margin-left: 0.24rem;
	margin-top: 0.06rem;
	float: left;
}
.yzc-nav{
	margin-top: 0.3rem;
}
.yzc-nav a{
	/*-webkit-box-flex: 1.0;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;*/
	display: inline-block;
	width:24%;
	color: #999999;
}
.yzc-nav a span{
	max-width: 1.3rem;
}

.yzc-nav a span img{
	margin: auto;
	max-width: 1.3rem;
	max-height: 1.3rem;
}
.yzc-nav a p{
	text-align:center;
	color:#999999;
	line-height: 0.28rem;
	margin-top: 0.2rem;
}

.yzc-nav a p b{
	color: #656565;
}

.yzc-classify{
	padding-left: 0.27rem;
	padding-right: 0.27rem;
	margin-top: 0.55rem;
}

.yzc-class-tit{
	width: 100%;
	height: 1px;
	background-color:#d1dae3;
	position: relative;
	z-index: 1;
}

.yzc-class-tit span{
	display: inline-block;
	padding: 0.14rem 0.36rem;
	background: #fb6362;
	border-radius:30px;
	-webkit-border-radius:30px;
	color: #FFFFFF;
	position: absolute;
	left:35%;
	top:-0.3rem
}
.yzc-class-show{
	/*display:-webkit-flex;
	display: flex;*/
	width:100%;
	height: 1.18rem;
	border: 1px solid #e3e3e3;
	margin-top: 0.58rem;
}
.yzc-class-show a{
	/*flex: 1;*/
	display: inline-block;
	width: 32.4%;
    height: 100%;
}

.yzc-class-show a p{
	color: #B1B1B1;
	float: right;
	margin-top:0.24rem;
	margin-right: 0.12rem;
}

.yzc-class-show a p b{
	color: #666666;
}

.yzc-class-show a span{
	display: block;
	max-width: 1.21rem;
	float: right;

}
.yzc-class-show a span img{
	max-width: 1.21rem;
	max-height: 1.23rem;
}

.yzc-class-list{
	width: 100%;
	margin-top: 0.05rem;
}
.yzc-class-list li{
	display: inline-block;
	width: 100%;
	border: 1px solid #e3e3e3;
	border-radius:15px;
	-webkit-border-radius:15px;
	margin-top: 0.15rem;
    padding-bottom: 0.2rem;
    overflow: hidden;
}
.yzc-class-list li a{
	display: inline-block;
	color: #666666;
	min-width: 1.12rem;
	margin-left: 0.6rem;
	margin-top: 0.2rem;
	float:left;
}
.pat-list{
	margin-top: 0.6rem;
}

/*筛选列表页*/
.filt-search{
  width: 100%;
  padding-top:15px;
  padding-bottom:15px;
  min-height:25px;
  background: #353535;
  overflow: hidden;
}
.filt-search p{
	color: #FFFFFF;
    margin-bottom: 0.12rem;
}

.filt-search p span{
	margin-left: 0.02rem;
	margin-right: 0.02rem;
}
.filt-search-Ind{
	margin-left:-0.2rem;
}
.filt-search-Ind li.inp span{
	display: inline-block;
	width:2.2rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-indent: 0.23rem;
	border: 1px solid #e3e3e3;
	background: #FFFFFF;
	border-radius:50px; 
	-webkit-border-radius:50px; 
	color: #999999;
	float: left;
	margin-left: 0.2rem;
}
.filt-search-Ind li.inp span i{
	display: inline-block;
	width: 0.12rem;
	height: 0.08rem;
	background: url(../images/pull-down.png) no-repeat center top;
	background-size: 100% auto;
    vertical-align: middle;
    float: right;
    margin-right:0.18rem;
    margin-top:0.18rem;
}
.filt-search-Ind li.inp span.on{
	border: 1px solid #ffaaa9;
	color: #ff5656;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
.filt-search-Ind li.inp span.on i{
	background: url(../images/pull-down-cg.png) no-repeat center top;
	background-size: 100% auto;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
.search-Ind-bg{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.4);
	position: fixed;
    top: 2.43rem;
	left: 0px;
	display: none;
}
.search-Ind-box{
	background: #424242;
    height: 70%;
    padding-bottom: 0.24rem;
    overflow: auto;
    position: relative;
}
.search-Ind-list{
	min-height: 6rem;
}
.search-Ind-list  p{
	width: 33.33%;
	float: left;
}
.search-Ind-list  p a{
	display: inline-block;
	min-width: 2rem;
    overflow: hidden;
	height: 0.68rem;
	line-height: 0.68rem;	
	color: #FFFFFF;
	border-bottom: 1px solid #6f6f6f;
    margin-left: 0.28rem;
    font-size: 0.3rem;
}
.search-Ind-list  p a.on{
	border-bottom: 1px solid #ff5b5b;
}
.search-Ind-list  p a label{
    display: inline-block;
    max-width:1.6rem ;
    overflow: hidden;
	margin-left: 0.08rem;
    vertical-align: middle;
    float: left;
}
.search-Ind-list  p a i{
	display: inline-block;
	width:0.3rem;
	height: 0.2rem;
	background: url(../images/pitch.png) no-repeat top center;
	background-size: 100% auto;
	vertical-align: middle;
    float: left;
	margin-left: 0.08rem;
    margin-top: 0.26rem;
}
.search-Ind-btn{
    width: 100%;
    position:fixed;
    bottom:0.69rem;
    left: 0px;
}
.search-Ind-btn a{
	display: inline-block;
	width: 50%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: 0.28rem;
	color: #FFFFFF;
	float: left;
}
.search-Ind-btn a.off{
	background-color: #1e1e1e;
}
.search-Ind-btn a.sure{
	background-color: #de4544;
}
.filt-list ul{
	margin-left: -15px;
}
.filt-list ul li{
	width: 50%;
	border-radius: 10px;
	-webkit-border-radius:10px;
	float:left;
}
.filt-list ul li .cont{
	margin: 15px 0px 0px 15px;
	border: 1px solid #e1e1e1;
}
.filt-list ul li a.pic{
    display: block;
	width: 100%;
	height: 2.07rem;
    line-height: 2rem;
    text-align: center;
}
.filt-list ul li a.pic img{
    display: inline-block;
    vertical-align: middle;
	max-width: 2.66rem;
	max-height: 1.82rem;
}
.filt-list ul li div.filt-list-btn{
	height: 1.1rem;
	border-top:1px solid #e1e1e1;
	text-align: center;
	overflow: hidden;
	background: #f8f8f8;
}
.filt-list ul li div.filt-list-btn p{
    text-align: center;
	color: #666666;
	font-size: 0.26rem;
    margin:auto ;
	margin-top: 0.12rem;
    width:95%;
    overflow : hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
}
.filt-list ul li div.filt-list-btn a{
	display:block;
	width: 1.7rem;
	height: 0.45rem;
	line-height:0.4rem;
	background: url(../images/xj-btn.png) no-repeat center top;
	background-size: 100% auto;
	color: #FFFFFF;
	font-size: 0.26rem;
	margin: 0.04rem auto 0px;
	cursor: pointer;
}
/*商标，专利详情页面*/
.deta-banner{
	width: 100%;
	min-height: 5.53rem;
	background:#353535 url(../images/deta-bg.jpg) no-repeat bottom center;
	text-align: center;
	color: #FFFFFF;
	overflow: hidden;
	
}
.deta-banner h2{
	font-size: 0.28rem;
	font-weight: normal;
	margin-top: 0.22rem;
}
.deta-banner h6{
	font-size: 0.22   rem;
	font-weight: normal;
	margin-top: 0.18rem;
	
}
.deta-banner-pic{
	display: table;
	width:6rem;
	height:4.1rem;
	margin:0.18rem auto;
	text-align: center;
	line-height: 4.1rem;
}
.deta-banner-pic img{
    display: inline-block;
	max-width:6rem;
	max-height:4.1rem;
	vertical-align: middle;
}
.deta-cont-tit{
	margin-top: 0.14rem;
	height: 0.65rem;
}
.deta-cont-tit li{
	text-align:center;
	float: left;
	width:50%;
	line-height: 0.65rem;
	border-bottom: 1px solid #2d2d2d;
	color: #b1b1b1;
	cursor: pointer;
}
.deta-cont-tit li.on{
	border-bottom: 1px solid #f38e8e;
	color: #f38e8e;
}
.deta-cont-main{
	min-height: 3rem;
	margin-top: 0.14rem;
	color: #999999;
	overflow: hidden;
	display: none;
	padding-bottom: 0.6rem;
}
.deta-cont-main .enter,.deta-cont-main .intr{
	padding-left: 0.35rem;
}
.deta-cont-main p.desc{
    margin-top: 0.24rem;
    text-indent: 2em;
    line-height: 24px;
}
.basic-info{
	width:99%;
	padding-top:0.12rem;
	padding-bottom:0.12rem;
	background: #f6f6f6;
	border: 1px solid #e3e3e3;
	border-radius:5px;
	-webkit-border-radius:5px;
	text-indent:0.35rem;
}
.deta-cont-main .enter{
	margin-top:0.17rem;
}
.deta-cont-main .enter a{
	color: #999999;
}
.deta-cont-main .intr{
	margin-top:0.25rem;
	line-height:0.46rem;
}
.rec-brand{
	width: 100%;
	height: 2.65rem;
	background: #f5f5f5;
}
.rec-brand .yzc-class-tit span{
	padding-left: 0.9rem !important;
	padding-right: 0.9rem !important;
	left: 32% !important;
}
.rec-brand .rec-brand-list{
	width: 100%;
	margin-top: 0.5rem;
	margin-left: -0.2rem;
	overflow: hidden;
}
.rec-brand .rec-brand-list li{
	width: 50%;
	float: left;
}
.rec-brand .rec-brand-list li div.cont{
	display: table;
	width: 3.43rem;
	height: 1.98rem;
	line-height: 1.98rem;
	text-align: center;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 1px solid #e1e1e1;
	background: #FFFFFF;
	margin-left: 0.17rem;
}
.rec-brand .rec-brand-list li div.cont img{
	display: inline-block;
	max-width: 3.43rem;
	max-height: 1.98rem;
	vertical-align: middle;
}
.refer-buy{
	width: 100%;
	overflow: hidden;
	margin-bottom:0.44rem;
}
.refer-buy a{
	display: inline-block;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	width: 50%;
	float:left;
	color: #FFFFFF;
	font-size: 0.28rem;
	margin-top: 0.2rem;
}
.refer-buy a img{
	display: inline-block;
	max-width: 0.62rem;
	max-height: 0.56rem;
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 3px;
}
.refer-buy a.refer{
	background:url(../images/btn-bg1.jpg) repeat-x;
}
.refer-buy a.buy{
	background:url(../images/btn-bg2.jpg) repeat-x;
}


/*我要买列表*/
.buy-flow{
	width: 100%;
	height: 0.97rem;
	border-top:5px solid #353535;
	border-bottom: 1px solid #e3e3e3;
	background: #f5f5f5;
	text-align: center;
}
.buy-flow .center{
	margin-left: -0.26rem;
}
.buy-flow span{
	display: inline-block;
	padding: 0.12rem 0.28rem;
	background: #ff8186;
	border-radius:8px;
	-webkit-border-radius:8px;
	color: #FFFFFF;
	vertical-align: middle;
	margin-top: 0.22rem;
	margin-left: 0.26rem;
}
.buy-flow i{
	display: inline-block;
	width: 0.16rem;
	height: 0.26rem;
	background: url(../images/arrw-lf.png) no-repeat top center;
	background-size: 100% auto;
	vertical-align: middle;
	margin-top: 0.22rem;
	margin-left: 0.22rem;
}
.buy-table{
    display:none;
	padding-left: 0.94rem;
	padding-right: 0.94rem;
	margin-top: 0.22rem;
	min-height: 4.57rem;
	margin: auto;
}
.buy-table ul li {
	margin-top: 0.24rem;
    overflow: hidden;
    padding-bottom: 0.1rem;
}
.buy-table ul li label{
	display: inline-block;
	color: #999999;
	width:28%;
	
}
.buy-table ul li.dem label{
	vertical-align: top;
	margin-top: 0.22rem;
}
.buy-table ul li label em{
	color: #ce0000;
	vertical-align: middle;
	margin-right: 0.2rem;
	width: 0.1rem;
    display: inline-block;
}
.buy-table ul li  textarea{
	height: 2.4rem;
}
.buy-table ul li  input{
	height:0.55rem;
	vertical-align: middle;
}
.buy-table ul li  textarea,.buy-table ul li input{
    border: 1px solid #e3e3e3;
    border-radius:8px;
    -webkit-border-radius:8px;
    width: 62%;
}
.buy-table ul li a.tj-btn{
	display: block;
	margin: auto;
	width: 5rem;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.28rem;
	background: url(../images/btn-bg3.jpg) repeat-x;
	border-radius:50px;
	-webkit-border-radius:50px;
}

.buy-btm-ban{
	width: 100%;
	height: 2.7rem;
	background: url(../images/buy-ban.jpg) no-repeat top center;
	background-size: 100% auto;
	overflow: hidden;
	margin-top: 0.38rem;
}
.buy-btm-list li{
	display:inline-block;
	width: 33.33%;
	float: left;
	color: #FFFFFF;
	text-align: center;
}
.buy-btm-list li span{
	display:block;
	height:0.98rem;
	margin-bottom: 0.36rem;
	margin-top: 0.57rem;
	vertical-align:bottom;
}
.buy-btm-list li img{
    margin: auto;
	max-width: 1rem;
	max-height:0.98rem;
}
/*我要买提交信息弹窗*/
.buy-mess-box{
	width: 6.34rem;
	min-height:6.4rem;
	background-color:#FFFFFF;
	position: fixed;
	top:50%;
	left: 50%;
	margin-left: -3.17rem;
	margin-top: -3.2rem;	
	display: none;
    z-index: 99;
    padding-bottom: 0.24rem;
}
.gb-tc{
	display: inline-block;
	width: 0.46rem;
	height: 0.45rem;
	background:url(../images/gb-ico.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	right:-0.16rem;
	top:-0.16rem;
}
.buy-mess-tit{
	width:100%;
	height: 2.37rem;
	text-align: center;
}
.buy-mess-tit img{
	max-width: 4.8rem;
	max-height: 1.97rem;
	margin-left: 0.58rem;
	margin-top: -0.15rem;
}
.buy-mess-tit h3{
	font-size: 0.3rem;
	color: #666666;
	margin-top: -0.2rem;
}
.buy-mess-tb{
    display: block !important;
	padding-left: 0.37rem;
	padding-right: 0.37rem;
	border-top:1px solid #e3e3e3;
	
}
.buy-mess-tb ul{
	margin-top: 0.12rem;
	overflow: hidden;
}
.buy-mess-tb li{
	margin-top: 0.12rem !important;
}
.buy-mess-tb textarea{
	height: 1.2rem !important;
	padding-top: 0.12rem;
	text-indent: 10px;
	margin-left: 0.1rem;
}
.buy-mess-tb li.name input{
	width: 2.8rem;
}
.buy-mess-tb li.rema label{
	float: left;
	margin-top:  0.12rem;
	
}
/*我要卖列表*/
.sell-table-list{
	display: none;
}
.sell-table{
	width: 100%;
	min-height: 4.8rem;
	border-top:5px solid #353535;
}
.sell-table ul li.price input{
	width: 2rem !important;
}
.sell-table ul li.price em{
	color: #bebebe;
	font-size: 0.17rem;
}
.sell-btm-ban{
	width: 100%;
	
}
.sell-btm-ban1{
	height: 3.35rem;
	background: url(../images/sell-btm-bg1.png) no-repeat center top;
	background-size: 100% auto;
	overflow: hidden;
	text-align: center;
}
.sell-btm-ban1 h3{
	color: #cae0ff;
	font-size: 0.3rem;
	margin-top: 2.42rem;

}
.sell-btm-ban1 h4{
	color: #e4efff;
	font-size: 0.26rem;
	margin-top: 0.08rem;

}
.sell-btm-ban2{
	height: 4.54rem;
	background: url(../images/sell-btm-bg2.png) repeat-x;
	overflow: hidden;
	padding-bottom: 0.64rem;
}
.sell-zx-btn {
	text-align: center;
	margin-top: 0.22rem;
}
.sell-zx-btn a{
	display: inline-block;
	width:3rem;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	box-shadow:2px 2px 2px 2px #333;
	-webkit-box-shadow:2px 2px 2px 2px #333;
	color:#FFFFFF;
}
.sell-zx-btn a img{
	display: inline-block;
	max-width:0.52rem;
	max-height: 0.45rem;
	vertical-align: middle;
	margin-right: 4px;
	margin-bottom: 2px;
}
.sell-btm-tit{
	margin-top: 0.24rem;
	overflow: hidden;
}
.sell-serve{
	background: #ffb171;
}
.sell-help{
	background: #fb6362;
	margin-left: 0.22rem;
}

.sell-btm-tit img{
	width: 100%;
	height:auto;
	margin: 0.22rem auto;
}

/*调试小屏幕兼容性*/
@media screen and (max-width:374px){
    .yzc-head h2{
        margin-left: 0.002rem;
    }
    .yzc-class-show a p{
    	margin-right:0;
    	width: 35%;
    	margin-top: 0;
    }
    .yzc-class-list li a{
    	margin-left: 0.3rem;
    }
    .brand-box p a{
    	margin-left: 0.06rem;
    }
    .search-Ind-list ul li p a{
	    width: 2.42rem;
	    margin-left: 0.08rem;
    }
    .buy-flow span{
    	padding: 0.12rem 0.14rem;
    	margin-left: 0.16rem;
    }
    .buy-flow i{
    	margin-left: 0.16rem;
    }
    .buy-table{
    	padding-left: 0.4rem;
    	padding-right: 0.4rem;
    }
    .sell-zx-btn a{
    	width: 3.4rem;
    }
    
   
}


/*咨询价格弹窗*/
.refer-cost{
    margin:0.32rem auto;
    display: none;
    overflow: visible !important;
}
.refer-cost-pic{
    width: 90%;
    height: 2.29rem;
    background: url("../images/cost-bg.png") no-repeat top center;
    background-size: 100% auto;
    margin: auto;
    margin-top: -0.64rem;
    border-bottom: 1px solid #e3e3e3;
}
.refer-cost-main{
    text-align: center;
}
.refer-cost-main input{
    width:80%;
    height: 0.75rem;
    line-height: 0.75rem;
    margin-top: 0.22rem;
    border: 1px solid #e3e3e3;
    text-align:center;
    color: #bebebe;
    font-size: 0.28rem;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
}
.refer-cost-main  label{
    display: block;
    color: #fb6362;
    font-size: 0.28rem;
    margin: auto;
    margin-top: 3px;
}
.refer-cost-main  a{
    display: block;
    width:80%;
    height: 0.8rem;
    line-height: 0.7rem;
    margin: auto;
    background: url("../images/xj-btn.png") no-repeat top center;
    background-size: 100% 100%;
    color: #ffffff;
    font-size: 0.28rem;
    margin-top: 0.22rem;
}
.layui-layer-page .layui-layer-content{
    overflow: visible !important;
}
.layui-layer-ico{
    background: url("../images/gb-ico.png") no-repeat !important;
    background-size: 100% 100% !important;;
}