<? require(ViewDir.'/header.html'); ?>
<? require(ViewDir.'/header1.html'); ?>
		<section class="brand-pt-search">
			<div class="search-main">
				<p class="brand-pt-search-tit tabs">
					<b class="active">商标  trademark</b>
					<b>专利  patent</b>
				</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="brand-box swiper-slide">
                            <div class="brand-inp">
                                <form action="/trademark/index"  method="post" id="seachfrom">
                                <input class="search-inp" type="text" name="name" placeholder="请输入您要搜索的商标名或商标号"/>
                                <input type="submit" class="search-btn" value="">
                                </form>
                            </div>
                            <p>
                                <a href="/trademark/index/?c=25">服装</a>
                                <a href="/trademark/index/?c=18">箱包</a>
                                <a href="/trademark/index/?c=9">电子数码 </a>
                                <a href="/trademark/index/?c=3">化妆品 </a>
                                <a href="/trademark/index/?c=30">食品 </a>
                                <a href="/trademark/index/?c=31">农产品 </a>
								<a href="/trademark/index/?c=43">餐饮</a>
                            </p>
                        </div>
                        <div class="brand-box swiper-slide">
                            <div class="brand-inp f-hidden">
                                <input class="search-inp" type="text" name="name" id="pt_kw" placeholder="请输入您要搜索的专利名或专利号"/>
                                <input type="button" class="search-btn" value="" id="pt_search">
                            </div>
                            <p>
								<a href="/ptsearch/index/?t=1&c=h">通信电子</a>
								<a href="/ptsearch/index/?t=2&c=f">机械加工</a>
								<a href="/ptsearch/index/?t=2&c=b">建筑采挖</a>
								<a href="/ptsearch/index/?t=2&c=a">医疗保健</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
		</section>
		<nav class="yzc-nav">
			<a href="#">
				<span>
					<img src="<?=StaticDir?>1.0/images/nav-ico1.png" />
				</span>
				<p>
					<b>商标筛选</b><br/>
					trademark
				</p>
			</a>
			<a href="#">
				<span>
					<img src="<?=StaticDir?>1.0/images/nav-ico2.png" />
				</span>
				<p>
					<b>专利筛选</b><br/>
					patent
				</p>
			</a>
			<a href="#">
				<span>
					<img src="<?=StaticDir?>1.0/images/nav-ico3.png" />
				</span>
				<p>
					<b>购买登记</b><br/>
					buy
				</p>
			</a>
			<a href="#">
				<span>
					<img src="<?=StaticDir?>1.0/images/nav-ico4.png" />
				</span>
				<p>
					<b>我要出售</b><br/>
					sell
				</p>
			</a>
		</nav>
		<section class="yzc-classify">
			<div class="yzc-class-tit">
				<span>热门商标类别</span>
			</div>
			<div class="yzc-class-show">
				<a href="/trademark/index/?c=25">
					<span>
						<img src="<?=StaticDir?>1.0/images/clas-ico1.jpg" />
					</span>
					<p>
						<b>25类</b><br/>
						服装鞋帽
					</p>
				</a>
				<a href="/trademark/index/?c=3">
					<span>
						<img src="<?=StaticDir?>1.0/images/clas-ico2.jpg" />
					</span>
					<p>
						<b>03类</b><br/>
						化妆日化
					</p>
				</a>
				<a href="/trademark/index/?c=9">
					<span>
						<img src="<?=StaticDir?>1.0/images/clas-ico3.jpg" />
					</span>
					<p>
						<b>09类</b><br/>
						科学仪器
					</p>
				</a>
			</div>
			<ul class="yzc-class-list odd-cg">
				<li>
					<a href="/trademark/index/?c=29"><label>&bull;</label>29类 肉食蜜饯</a>
					<a href="/trademark/index/?c=30"><label>&bull;</label>30类 方便食品</a>
					<a href="/trademark/index/?c=31"><label>&bull;</label>31类 饲料花木</a>
				</li>
				<li>
					<a href="/trademark/index/?c=43"><label>&bull;</label>43类 餐饮住宿</a>
					<a href="/trademark/index/?c=18"><label>&bull;</label>18类 皮革皮具</a>
					<a href="/trademark/index/?c=11"><label>&bull;</label>11类 家用电器</a>
				</li>
				<li>
					<a href="/trademark/index/?c=33"><label>&bull;</label>33类 酒精饮料</a>
					<a href="/trademark/index/?c=5"><label>&bull;</label>05类 医用药品</a>
					<a href="/trademark/index/?c=1"><label>&bull;</label>01类 化工原料</a>
				</li>
			</ul>
		</section>
		<section class="yzc-classify">
			<div class="yzc-class-tit">
				<span>热门专利类别</span>
			</div>
			<ul class="yzc-class-list pat-list odd-cg">
				<li>
					<a href="/ptsearch/index"><label>&bull;</label>全部</a>
					<a href="/ptsearch/index/?t=1"><label>&bull;</label>发明</a>
					<a href="/ptsearch/index/?t=2"><label>&bull;</label>实用新型</a>
					<a href="/ptsearch/index/?t=3"><label>&bull;</label>外观设计</a>
				</li>
			</ul>
		</section>
		
		<!--公用弹话框-->
		<div class="dlg-box" id="dlg-box">
			<a href=""></a>
			<span id="gb-btn"></span>
		</div>
		<!--共用底部-->
		<section class="yzc-btm">
			<div class="yzc-btm-main" >
				<h2><a href="tel:4006-929-199">4006-929-199</a></h2>
				<p>ICP证：蜀ICP备15035613号-1 <a href="<?=SITE_URL?>">电脑版</a></p>
			</div>
		</section>
	
	<script type="text/javascript" src="<?=StaticDir?>1.0/script/common.js?v=<?=$static_version?>"></script>
	<script type="text/javascript" src="<?=StaticDir?>1.0/script/search.js?v=<?=$static_version?>"></script>
	<script type="text/javascript">
	   //首页商标专利搜索选项卡；
//	   $("#search1").on('click',function(){
//	   	 jc('search',1,2);
//	   });
//
//	    $("#search2").on('click',function(){
//	   	  jc('search',2,2);
//
//	   });
       var oas= $(".yzc-head a");
           oas.each(function(){
           $(this).click(function(){
               oas.removeClass("on");
               $(this).addClass("on");
           })
       })
       //判断弹出框在滚动时候的定位变化；
       $(window).scroll(function(){
           if($(window).scrollTop() == $(document).height() - $(window).height()){
               $("#dlg-box").css({"bottom":"1.46rem","transitionDuration":"0.8s"})
           }
           else{
               $("#dlg-box").css({"bottom":"0","transitionDuration":"0.4s"})
           }
       })
       //定义奇数行变色
       $(document).ready(function(){
           var odds=$(".odd-cg").find("li");
           for(var i=0;i<odds.length;i++){
               if(i%2!=0){
                   $(odds[i-1]).css({"backgroundColor":"#f6f6f6"})
               }
           }
       })

       //首页商标专利搜索选项卡；
       var tabsSwiper = new Swiper('.swiper-container',{
           speed:500,
           onSlideChangeStart: function(){
               $(".tabs .active").removeClass('active')
               $(".tabs b").eq(tabsSwiper.activeIndex).addClass('active')
           }
       })
       $(".tabs b").on('touchstart mousedown',function(e){
           e.preventDefault()
           $(".tabs .active").removeClass('active')
           $(this).addClass('active')
           tabsSwiper.swipeTo( $(this).index() )
       })
       $(".tabs b").click(function(e){
           e.preventDefault()
       })
	</script>
<? require(ViewDir.'/footer.html'); ?>