
<!--共用底部-->
<section class="yzc-btm">
    <div class="yzc-btm-main" >
        <h2><a href="tel:4006-929-199">4006-929-199</a></h2>
        <p>ICP证：蜀ICP备15035613号-1 <a href="<?=SITE_URL?>"><i></i>电脑版</a></p>
    </div>
</section>
<script type="text/javascript" src="<?=StaticDir?>1.0/script/common.js?v=<?=$static_version?>"></script>
<!--自己的统计-->
<script type="text/javascript">
   document.write(unescape("%3Cscript src='<?=StaticDir?>1.0/script/yzc.js' type='text/javascript'%3E%3C/script%3E"));
</script>

   </body>
</html>
