<!--百度分享-->
<!--<div class="bdsharebuttonbox" data-tag="share_1" style="display: none">
    <a class="bds_qzone" data-cmd="qzone" href="#"></a>
    <a class="bds_tsina" data-cmd="tsina"></a>
    <a class="bds_weixin" data-cmd="weixin"></a>
</div>
<script>
    window._bd_share_config = {
        common : {
            bdUrl : location.href,
            bdPic : '<?=$share_img?>'
        },
        share : [{
            "bdSize" : 16
        }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/javascript">
    $(function(){
        $('.btn_qzone').click(function(){
            $('.bds_qzone').get(0).click();
        });
        $('.btn_sina').click(function(){
            $('.bds_tsina').get(0).click();
        });
        $('.btn_weixin').click(function(){
            $('.bds_weixin').get(0).click();
        });
    });
</script>-->
<!--百度分享-->
<!--jiathsi分享-->
<!--<div class="jiathis_style" style="display: none">
    <a class="jiathis_button_qzone bds_qzone">QQ空间</a>
    <a class="jiathis_button_tsina bds_tsina">新浪微博</a>
    <a class="jiathis_button_weixin bds_weixin">微信</a>
</div>
<script type="text/javascript" >
    var jiathis_config={
        url:location.href,
        pic:'<?=$share_img?>'
    };
    $(function(){
        $('.btn_qzone').click(function(){
            $('.bds_qzone').get(0).click();
            layer.closeAll();
        });
        $('.btn_sina').click(function(){
            $('.bds_tsina').get(0).click();
            layer.closeAll();
        });
        $('.btn_weixin').click(function(){
            $('.bds_weixin').get(0).click();
            layer.closeAll();
        });
    });
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>-->
<!--jiathsi分享-->
<!--简单分享-->
<script type="text/javascript" src="<?=StaticDir?>1.0/script/simple-share.min.js?v=<?=$static_version?>"></script>
<script type="text/javascript">
    var share = new SimpleShare({
        url: location.href,
//        title: '',
//        content: '',
        pic: '<?=$share_img?>'
    });
</script>
<!--简单分享-->
<!--共用底部-->
<section class="yzc-btm">
    <div class="yzc-btm-main" >
        <h2><a  href="tel:4006-762-003">4006-762-003</a></h2>
        <p>ICP证：蜀ICP备15035613号-1 <a href="index/jumpPc"><i></i>电脑版</a></p>
    </div>
</section>

<script type="text/javascript" src="<?=StaticDir?>1.0/script/common.js?v=<?=$static_version?>"></script>

   </body>
</html>
