<!--公用弹话框-->
<div class="dlg-box">
	<a href=""></a>
	<span id="gb-btn"></span>
</div>
<!--共用底部-->
<section class="yzc-btm">
	<div class="yzc-btm-main">
		<h2><a>4006-929-199</a></h2>
		<p>ICP证：蜀ICP备15035613号-1 <a href=""></a>电脑版</p>
	</div>
</section>
<script type="text/javascript" src="<?=StaticDir?>1.0/script/common.js?v=<?=$static_version?>"></script>
<script type="text/javascript">
	//首页商标专利搜索选项卡；
	$("#search1").on(tap,function(){
		jc('search',1,2);
	});
	$("#search2").on(tap,function(){
		jc('search',2,2);
	});
</script>
</body>
</html>