
<header class="list-head">
    <div class="main">
        <a class="fl" href="javascript:;" onclick="history.go(-1)"><i></i><?=$page_title?></a>
        <div class="fr">
            <a id="share"><img src="<?=StaticDir?>1.0/images/arrw-ico1.png"></a>
            <a id="menu"><img src="<?=StaticDir?>1.0/images/arrw-ico2.png"></a>
            <!--点击菜单出现导航弹窗，默认影藏-->
            <div class="menu-box" id="menu-box">
                <a href="/">一只蝉首页</a>
                <a href="/sell">我要出售</a>
                <a href="/buy">购买登记</a>
                <a href="<?=UC_URL?>">我的蝉窝</a>
                <a href="<?=SELLER_URL?>">出售者平台</a>
            </div>
        </div>
    </div>
</header>