
<header class="list-head">
    <div class="main">
        <a class="fl" href="javascript:;" onclick="if(document.referrer){history.go(-1);}else{location.href='/'};"><i></i><?=$page_title?></a>
        <div class="fr">
            <a id="share"><img src="<?=StaticDir?>1.0/images/arrw-ico1.png"></a>
            <a id="menu"><img src="<?=StaticDir?>1.0/images/arrw-ico2.png"></a>
            <!--点击菜单出现导航弹窗，默认影藏-->
            <div class="menu-box" id="menu-box">
                <a href="/">一只蝉首页</a>
                <a href="/sell">我要出售</a>
                <a href="/buy">购买登记</a>
                <a href="<?=UC_URL?>">我的蝉窝</a>
                <a href="<?=SELLER_URL?>">出售者平台</a>
            </div>
        </div>
    </div>
</header>

<!--分享弹窗-->
<div class="yzc-share">
     <div class="yzc-share-bg"></div>
        <h3>我要把网页分享到</h3>
        <ul class="yzc-share-main bdsharebuttonbox">
            <li><a title="分享到QQ好友" href="javascript:void(0);" class="btn_qzone"><span><img src="<?=StaticDir?>1.0/images/qqkj.png"><br/>QQ空间</span></a></li>
            <li><a title="分享到新浪微博" href="javascript:void(0);" class="btn_sina"><span><img src="<?=StaticDir?>1.0/images/wb.png"><br/>微博</span></a></li>
            <li><a title="分享到微信" href="javascript:void(0);" class="btn_weixin"><span><img src="<?=StaticDir?>1.0/images/wx.png"><br/>微信</span></a></li>
        </ul>
    </div>
</div>