
<!--公用头部-->
<header class="yzc-head">
    <a href="/" webid="204"><h1><img src="<?=StaticDir?>1.0/images/wap-lg.png"></h1></a>
    <a href="/trademark" class="<?=($head_type==1)?'on':''?>" webid="200">
        <!--<i><img src="<?=StaticDir?>1.0/images/lg-ico1.png"></i>-->
        <h2>商标<br/><label>trademark</label></h2>
    </a>
    <a href="/ptsearch"  class="<?=($head_type==2)?'on':''?>" webid="201">
        <!--<i><img src="<?=StaticDir?>1.0/images/lg-ico2.png"></i>-->
        <h2>专利<br/><label>patent</label></h2>
    </a>
    <a href="javascript:;" onclick="goChat()" webid="203">
        <!--<i><img src="<?=StaticDir?>1.0/images/lg-ico3.png"></i>-->
        <h2>客服<br/><label>service</label></h2>
    </a>

    <a id="menu">
        <!--<i><img src="<?=StaticDir?>1.0/images/lg-ico4.png"></i>-->
        <h2>菜单<br/><label>list</label></h2>
    </a>
    <!--点击菜单出现导航弹窗，默认影藏-->
    <div class="menu-box" id="menu-box">
        <a href="/" webid="204">一只蝉首页</a>
        <a href="/sell" webid="205">我要出售</a>
        <a href="/buy" webid="206">购买登记</a>
        <a href="<?=UC_URL?>" webid="207">我的蝉窝</a>
        <a href="<?=SELLER_URL?>" webid=208>出售者平台</a>
    </div>
</header>
<!--公用头部end-->