<? require(ViewDir.'/header.html'); ?>
<? require(ViewDir.'/header1.html'); ?>
	<section class="filt-search top-head">
	    <div class="main">
			<? if($kw): ?><p>符合关键字“ <label class="point"><?=$kw?></label> ”的商品共有 <span><?=$total?></span> 条</label></p><? endif; ?>
		<ul class="filt-search-Ind" id="search-Ind">
		    <li class="inp">
				<span><label id="pt_type1">专利类型</label><i></i></span>
				<div class="search-Ind-bg" i="_type">
					<div class="search-Ind-box">
						<div class="search-Ind-list" id="pt_type2">
							<?foreach ($_TYPE as $k => $v) {?>
							<p><a i="<?=$k?>" tj='<?=$k?>' class="<?=(in_array($k,$t_arr))?'on':''?>"> <label><?=$v?><?=(in_array($k,$t_arr))?'</label><i></i>':''?></a></p>
							<?}?>
						</div>
						<div class="search-Ind-btn">
							<a class="off">取消</a>
							<a class="sure">确定</a>
						</div>
					</div>
				</div>
		    </li>
			<? if(count($t_arr)==1): ?>
		    <li class="inp">
				<span><label id="pt_class1">类型分类</label><i></i></span>
				<div class="search-Ind-bg" i="_class">
					<div class="search-Ind-box">
						<div class="search-Ind-list" id="pt_class2">
							<?foreach ($_CLASS as $k => $v) {?>
							<p><a i="<?=$k?>" webid="2" addmsg="<?=$v?>" class="<?=(in_array($k,$c_arr))?'on':''?>"> <label><?=$v?><?=(in_array($k,$c_arr))?'</label><i></i>':''?></a></p>
							<?}?>
						</div>
						<div class="search-Ind-btn">
							<a class="off">取消</a>
							<a class="sure">确定</a>

						</div>
					</div>
				</div>
		    </li>
			<? endif; ?>
		</ul>
	    </div>
	</section>
	<section class="filt-list">
	    <ul class="main"  id="tm-all-list">
			<? foreach($list as $k => $v): ?>
			<li>
				<div class="cont">
					<a class="pic" href="/pt-<?=$v['number']?>.html">
				<span>
					<img src="<?=$v['imgUrl']?>"  onerror="this.src='/Static/1.0/images/img1.png'" width="170" height="100">
				</span>
					</a>
					<div class="filt-list-btn">
						<p><?=$v['title']?></p>
						<a class="xun_price" href="javascript:;" data-type="2" data-number="<?=$v['number']?>">立即询价</a>
					</div>
				</div>
			</li>
			<? endforeach; ?>
	    </ul>
	</section>
	<div id="s-uploading" style="padding-top:33px;margin-left: 45%;display:none;height:100px;"><img src="<?=StaticDir?>1.0/script/layer/skin/default/loading-1.gif"></div>
	<div id="_tmpDiv" style="display:none"></div>

	<script type="text/javascript" src="<?=StaticDir?>1.0/script/objurl.js?v=<?=$static_version?>"></script>
	<script type="text/javascript" src="<?=StaticDir?>1.0/script/xun.js"></script>
	<script type="text/javascript">
		//加载剩余数据
     // var oh1=($(".yzc-head").outerHeight())/0.69;
        var oh2=($(".filt-search").outerHeight())/0.68;
        var otp=oh2;
		var more_url = '/ptsearch/index/?';
		var _moreUrl = '/ptsearch/getmore/';
		var now_param = '<?=$whereStr?>';
		var pt_total = <?=$total?>;
		var pt_now = <?=$p_size?>;
		var pt_step = <?=$p_size?>;
		var is_load = false;
		var _p = 2;
		var now_type = '<?=$now_type?>';
		$(function () {
			var tem = [];//暂存下拉选取的元素值, 用于取消
			//下拉效果
			$('#search-Ind li.inp span').click(function(){
				if($(this).hasClass('on')){
					//收回
					$(this).closest('#search-Ind').find('li.inp span').removeClass('on');//选中效果
					//选中效果----仅清空当前操作的
					$(this).closest('li').find('.search-Ind-list a').each(function(){
						if(in_arr(tem,$(this).attr('i')) !== -1){
							$(this).removeClass('on');
							$(this).find('i').remove();
						}
					});
					$(".search-Ind-bg").hide();//下拉效果
                    $("body, html").css({"overflow":"auto"});
				}else{
					//打开
					$(this).closest('#search-Ind').find('li.inp span').removeClass('on');//选中效果
					$(this).addClass('on');
					$(".search-Ind-bg").hide();//下拉效果
					$(this).siblings(".search-Ind-bg").show();
                    $(this).siblings(".search-Ind-bg").css({"top":43+otp})
                    $("body, html").css({"overflow":"hidden"});
				}
				tem = [];//清空暂存
			});
			//选中事件
			$(".search-Ind-list a").click(function(){
				//当前状态
				if($(this).hasClass('on')){
					$(this).removeClass("on");
					$(this).find('i').remove();
					//移除数组
					del_arr(tem,$(this).attr('i'));
				}else{
					$(this).addClass("on");
					$(this).append("<i></i>");
					//添加到数组中
					tem.push($(this).attr('i'));
				}
			});
			//确定
			$('.sure').click(function(){
				layer_load();
				//得到当前选择的值
				var as = $(this).closest('.search-Ind-bg').find('.search-Ind-list a');
				//判断类型
				var type = $(this).closest('.search-Ind-bg').attr('i');
				//得到选中的值
				var value = '';
				var value_0 = '';//数据统计用
				as.each(function(){
					if($(this).hasClass('on')){
						value += (','+$(this).attr('i'));
						value_0 += (','+$(this).attr('tj'));
					}
				});
				if(value){
					//加载数据
					value = value.substring(1);
					value_0 = value_0.substring(1);
					createUrl(type,value,value_0);
				}
				layer_close_load();
				//关闭
				$('#search-Ind').find('li.inp span').removeClass('on');//选中效果
				$(".search-Ind-bg").hide();//下拉效果
				tem = [];//清空暂存数组
                $("body, html").css({"overflow":"auto"});
			});
			//取消
			$('.off').click(function(){
				$('#search-Ind').find('li.inp span').removeClass('on');//选中效果
				$(".search-Ind-bg").hide();//下拉效果
				//选中效果----仅清空当前操作的
				$(this).closest('.search-Ind-bg').find('.search-Ind-list a').each(function(){
					if(in_arr(tem,$(this).attr('i')) !== -1){
						$(this).removeClass('on');
						$(this).find('i').remove();
					}
				});
				tem = [];//清空暂存数组
                $("body, html").css({"overflow":"auto"});
			});
			//滚动事件
			$(window).scroll(function () {
				var scrollTop = $(this).scrollTop();
				var scrollHeight = $(document).height();
				var windowHeight = $(this).height();
				if (scrollHeight == scrollTop + windowHeight)  {
					loadMore();
				}
			});
		});
		//数组删除
		function del_arr(arr,value){
			for(var i in arr){
				if(arr[i]==value){
					arr.splice(i,1);
					break;
				}
			}
		}
		//数组中是否有指定元素
		function in_arr(arr,value){
			for(var i in arr){
				if(arr[i]==value){
					return i;
					break;
				}
			}
			return -1;
		}
		//加载剩余数据
		function loadMore(){
			//数据加载完毕,直接返回
			if(pt_now>=pt_total) return false;
			//设置正在加载数据
			if(is_load) return false;
			is_load = true;
			//加载层
			$('#s-uploading').show();
			//构造url
			var obj = new objURL('/?'+now_param);
			obj.set('_p', _p);
			//请求数据
			var params = obj.getparams();
			$("#_tmpDiv").load(_moreUrl, params, function(data,status,xml){
				if(data){
					//追加数据
					$("#_tmpDiv").html('');
					$("#tm-all-list").append(data);
					//关闭加载层
					$('#s-uploading').hide();
					//改变当前数据
					++_p;
					pt_now += pt_step;
					setTimeout(function(){is_load = false;},1000);
				}else{
					is_load = false;
				}
			});
		}
		//处理url
		function createUrl(parameter,value,value_0){
			//提交统计数据
			//得到url对象
			var obj = new objURL('/?'+now_param);
			//设置url
			switch(parameter){
				case "_type" :
					obj.set('t', value);
					if ( value != now_type) obj.set('c', '');
					sendBehavior(1,ptype,0,0,value_0);//发送统计数据
					break;
				case "_class" :
					obj.set('c', value);
					sendBehavior(2,ptype,0,0,value_0);//发送统计数据
					break;
			}
			//得到当前url
			var params = obj.strparams();
			layer_load();
			var allurl = more_url + params;
			//加载新页面
			setTimeout(function(){
				window.location.href = allurl;
				layer_close_load();
			},400);
		}
</script>
<? require(ViewDir.'/footer.html'); ?>