<? require(ViewDir.'/header.html'); ?>
<? require(ViewDir.'/header2.html'); ?>
<section class="deta-banner top-head">
    <h2 title="<?=$info['name']?>"><?=$class?>类 <?=empty($info['thum_name'])?'【暂无商标名称】':$info['thum_name']?></h2>
    <h6><?=$sale['value']?></h6>
    <div class="deta-banner-pic flex-box flex-jz">
        <span>
            <img src="<?=$info['imgUrl']['embellish']?>"  onerror="this.src='/Static/1.0/images/img1.png'"/>
        </span>

    </div>
</section>
<section class="deta-cont">
    <div class="main">
        <p class="deta-cont-tit">
            <b id="det1" onclick="jc('det',1,2)" class="active">商标基本信息</b>
            <b id="det2" onclick="jc('det',2,2)">商标介绍</b>
        </p>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="deta-cont-main" id="con_det_1" style="display: block;">
                    <p class="basic-info">商标分类第<?=$class?>类 - <?=$info['className']?>当前群组：<?=$info['items'][0]['group']?></p>
                    <p class="enter">此商标可入驻：
                    <?php
                    //定义一个函数
                    function checkIn($arr1,$arr2){
                    foreach($arr1 as $item){
                    if(in_array($item,$arr2)){
                    return true;
                    }
                    }
                    return false;
                    }
                    if(empty($sale['platform'])){//根据类别规则显示
                    foreach($platformIn as $k=>$v){
                    if(checkIn($info['class'],$platformItems[$k])){
                    echo " <a href='".$platformUrl[$k]."' webid='2' addmsg='".$v."' target='_blank' class='cur' >".$v."</a>";
                    }
                    }
                    }else{//根据包装信息显示
                    foreach($platformIn as $k=>$v){
                    if(in_array($k, array_filter(explode(',',$sale['platform'])))){
                    echo " <a href='".$platformUrl[$k]."' webid='2' addmsg='".$v."' target='_blank' class='cur' >".$v."</a>";
                    }
                    }
                    }
                    ?>
                    </p>
                    <p class="intr">商品列表：<?=$info['goods']?></p>
                </div>
                <div class="deta-cont-main"  id="con_det_2">
                    <p class="desc"><?=$sale['tminfo']['intro']?></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rec-brand">
    <div class="yzc-class-tit">
	<span>推荐商标</span>
    </div>
    <ul class="rec-brand-list main">
	<?foreach($refer as $item):?>
	<a  title="<?=$item['name']?>" href="/d-<?=$item['tid']?>-<?=$item['class']?>.html"  webid="1" addmsg="<?=$item['name']?>" >
	    <li>
		<div class="cont">
		    <img src="<?=$item['pic']['embellish']?>" onerror="this.src='/Static/1.0/images/img1.png'">
		</div>
	    </li>
	</a>
	<?endforeach;?>
    </ul>
</section>
<nav class="refer-buy">
    <a  href="javascript:void(0)" class="refer xun_price" data-type="1" data-number="<?=$item['number']?>"><img src="<?=StaticDir?>1.0/images/tel-ico.png">立刻咨询价格</a>
    <a  href="javascript:void(0)" id="buy-btn" class="buy"><img src="<?=StaticDir?>1.0/images/buy-ico.png">立即购买商品</a>
</nav>
   <!--提交购买信息的弹窗-->
   <div class="deta-tc-bg"></div>
   <div class="buy-mess-box">
	  <span class="gb-tc" id="gb-tc"></span>
	  <div class="buy-mess-tit">
		 <img src="<?=StaticDir?>1.0/images/tjtc-bg.png" />
		 <h3>提交购买信息</h3>
	  </div>
	  <div class="buy-mess-tb buy-table">
		 <ul>
			<li>
				<label><em>*</em>联系电话</label>
				<input type="tel" id="mobile" placeholder="请输入11位手机号"/>
			</li>
			<li class="name">
				<label><em>*</em>您的姓名</label>
				<input type="text" id="name" placeholder="请输入您的姓名"/>
			</li>
			<li class="rema">
				<label><em> </em>备注内容</label>
				<textarea  placeholder=" 如您还有其他需求可一并填写在此处" id="content"></textarea>
			</li>
			<li>
				<a href="javascript:;" class="tj-btn" id="sub_pt">提交购买信息</a>
			</li>
		 </ul>
	  </div>
   </div>
   
   <!--数据提交的隐藏域-->
    <div style="display: none">
	<input type="hidden" id="trademark" value="<?=$item['number']?>">
	<input type="hidden" id="class"  value="<?=$info['className']?>">
	<input type="hidden" id="remarks"  value="<?='商标号:'.$item['number']?>">
    </div>
<script type="text/javascript" src="<?=StaticDir?>1.0/script/xun.js"></script>
<script type="text/javascript">
     //提交需求
    $('#sub_pt').click(function(){
	    layer_load();
	    var mobile = $.trim($('#mobile').val());
	    if(!check_mobile(mobile)){
		    layer_error('请填写正确的手机号码');
		    layer_close_load();
		    return false;
	    }
	    var name = $.trim($('#name').val());
	    if(!check_name(name)){
		    layer_error('请填写正确的姓名');
		    layer_close_load();
		    return false;
	    }
	    var content = $.trim($('#content').val());
		if(content.length>=200){
			layer_error('备注内容不能超过200个字符');
			layer_close_load();
			return false;
		}
	    //组装数据
	    //获得数据
	    var remarks 	= $('#remarks').val();
	    remarks += (';电话号码：' + mobile+';联系人:'+name);
	    if(content){
		    remarks += (';备注:'+content);
	    }
	    var buyData 			= {};
	    buyData['tel'] 			= mobile;
	    buyData['tid'] 			= '';
	    buyData['trademark'] 	= $('#trademark').val();
	    buyData['class'] 		= $('#class').val();
	    buyData['subject'] 		= '求购信息';
	    buyData['type'] 		= 5;
	    buyData['remarks'] 		= remarks;
	    buyData['pttype']		= "求购";
	    //提交数据
	    buyGoods(buyData,function(){
		    //关闭弹窗
		    $("#gb-tc").click();
	    });
    });
    //提交信息弹窗；
    $("#buy-btn").on('click', function() {
	$(".deta-tc-bg").show();
	$(".buy-mess-box").show();

    });
    $("#gb-tc").on('click', function() {
		$(".deta-tc-bg").hide();
		$(".buy-mess-box").hide();
    });

</script>
<? require(ViewDir.'/footer.html'); ?>