<? require(ViewDir.'/header.html'); ?>
<? require(ViewDir.'/header1.html'); ?>

	<section class="filt-search top-head">
	    <div class="main">
		<?if(!empty($s['name'])){?><p>符合关键字“<label class="point"><?=$s['name']?></label> ”的商品共有 <span><?=$counts? $counts : 0 ;?></span> 条</p><?}?>
		<ul class="filt-search-Ind" id="search-Ind">
		    <li class="inp">
			<span><label>全部分类</label><i></i></span>
			<!--全部分类影藏下拉列表选项-->
			<div class="search-Ind-bg">
			    <div class="search-Ind-box">
				<div class="search-Ind-list">
					<?foreach ($_CLASSES as $k => $v) {
					?>
					    <p>
						<a <?if(in_array($k,  explode(",", $s['class']))) echo 'class="on" index="2"'; else  echo 'index="1"'; ?>>
						    <label><?=$k.'-'.$v?></label>
						    <input type="checkbox" name="class_str" value="<?=$k?>" <?if(in_array($k,  explode(",", $s['class']))) echo 'checked="checked"';?> style="display:none;">
						
						<?if(in_array($k,  explode(",", $s['class']))) echo '<i></i>';?>
						</a>
					    </p>
					<?}?>
				</div>
				<div class="search-Ind-btn">
				    <a class="off">取消</a>
				    <a class="sure" data-name="class_str">确定</a>
				</div>
			    </div>
			</div>
			<!--全部分类影藏下拉列表选项END-->
		    </li>
		    <li class="inp">
			<span><label>组合类型</label><i></i></span>
			<!--全部分类影藏下拉列表选项-->
			<div class="search-Ind-bg">
			    <div class="search-Ind-box">
				<div class="search-Ind-list">
					<?foreach ($_TYPE as $k => $v) {
					?>
					    <p>
						<a <?if(in_array($k,  explode(",", $s['type']))) echo 'class="on" index="2"'; else  echo 'index="1"'; ?>>
						    <label><?=$v?></label>
						    <input type="checkbox" name="type_str" value="<?=$k?>" <?if(in_array($k,  explode(",", $s['type']))) echo 'checked="checked"';?> style="display:none;">
						
						<?if(in_array($k,  explode(",", $s['type']))) echo '<i></i>';?>
						</a>
					    </p>
					<?}?>

				</div>
				<div class="search-Ind-btn">
				    <a class="off">取消</a>
				    <a class="sure" data-name="type_str">确定</a>
				</div>
			    </div>
			</div>
			<!--全部分类影藏下拉列表选项END-->
		    </li>
		    <li class="inp">
			<span><label>商标字数</label><i></i></span>
			<!--全部分类影藏下拉列表选项-->
			<div class="search-Ind-bg">
			    <div class="search-Ind-box">
				<div class="search-Ind-list">
					<?foreach ($_NUMBER as $k => $v) {
					?>
					    <p>
						<a <?if(in_array($k,  explode(",", $s['length'])) || ($k=="1,2" && in_array(1,  explode(",", $s['length'])))) echo 'class="on" index="2"'; else  echo 'index="1"'; ?>>
						    <label><?=$v?></label>
						    <input type="checkbox" name="length_str" value="<?=$k?>" <?if(in_array($k,  explode(",", $s['length'])) || ($k=="1,2" && in_array(1,  explode(",", $s['length'])))) echo 'checked="checked"';?> style="display:none;">
						
						<?if(in_array($k,  explode(",", $s['length'])) || ($k=="1,2" && in_array(1,  explode(",", $s['length'])))) echo '<i></i>';?>
						</a>
					    </p>
					<?}?>
				</div>
				<div class="search-Ind-btn">
				    <a class="off">取消</a>
				    <a class="sure" data-name="length_str">确定</a>
				</div>
			    </div>
			</div>
			<!--全部分类影藏下拉列表选项END-->
		    </li>
		</ul>
	    </div>
	</section>
	<section class="filt-list">
	    <ul class="main"  id="tm-all-list">
		<? foreach ($list as $k => $v) {?>
		<li>
		    <div class="cont">
			<a class="pic" href="/d-<?=$v['tid']?>-<?=$v['class']?>.html" title="<?=$v['name']?>" > 
			    <span>
				<img src="<?=$v['pic']['embellish']?>"  onerror="this.src='/Static/1.0/images/img1.png'" width="170" height="100">
			    <span>
			</a>
			<div class="filt-list-btn">
			    <p><?=mb_substr($v['name'], 0, 10, 'UTF-8')?> <?=mb_substr($v['class'], 0, 5, 'UTF-8')?>类</p>
			    <a class="xun_price" data-type="1" data-number="<?=$v['number']?>">立即询价</a>
			</div>
		    </div>
		</li>
		<? }?>
	    </ul>
	</section>
	<form action="/trademark/index"  method="get" id="seachfrom">
	    <input  type="hidden"  name="name"  value="<?=$s['name']?>"/>
	    <input  type="hidden" name="class"  value="<?=$s['class']?>" id="class_str">
	    <input  type="hidden" name="type"   value="<?=$s['type']?>" id="type_str">
	    <input  type="hidden" name="length" value="<?=$s['length']?>" id="length_str">
	</form>
	<div id="s-uploading" style="padding-top:33px;margin-left: 45%;display:none;height:100px;"><img src="<?=StaticDir?>1.0/script/layer/skin/default/loading-1.gif"></div>
	<div id="_tmpDiv" style="display:none"></div>

	<script type="text/javascript" src="<?=StaticDir?>1.0/script/objurl.js"></script>
	<script type="text/javascript" src="<?=StaticDir?>1.0/script/xun.js"></script>
	<script type="text/javascript">
        //筛选页面下拉列表搜索；
        var ow=$(window).width();
        var oh1=ow/770*100*0.84;
//        var oh2=$(".filt-search").outerHeight();
//        var otp=oh2+oh1;
	    var olis = $("#search-Ind li.inp span");
	    var obox = $("#Ind-box");
	    var oas = $(".search-Ind-list").find("a");
	    olis.on("click", function() {
            olis.removeClass("on");
            $(this).addClass("on");
            $(".search-Ind-bg").hide();
            $(this).siblings(".search-Ind-bg").show();
            $(this).siblings(".search-Ind-bg").css({"top":oh1+$(".filt-search").outerHeight()})
            $("body, html").css({"overflow":"hidden","height":"100%"});
            $('.filt-search').on('touchmove touchstart', function (event) {
                event.preventDefault();
            });
	    });
	    $(".off,.sure").on('click', function() {
		$(".search-Ind-bg").hide();
		olis.removeClass("on");
		oas.removeClass("on");
        $("body, html").css({"overflow":"auto","height":"auto"});
	    });

        oas.each(function(){
            $(this).click(function(){
                var odex=$(this).attr("index");
                if(odex==1){
                    $(this).addClass("on");
                    $(this).append("<i></i>");
                    $(this).attr("index","2");
		    $(this).find("input").attr("checked", true);
                }
                if(odex==2){
                    $(this).removeClass("on");
		            $(this).find("i").remove();
                    $(this).attr("index","1");
                    $(this).find("input").attr("checked", false);
                }
            });
        });
	
	//筛选条件提交
	$(".search-Ind-btn .sure").on("click", function() {
	    var names = $(this).data("name");
	    var  str = '';
            $("[name = "+names+"]:checked").each(function () {
		if(str===""){
                        str =$(this).val();
		}else{
                        str +=","+$(this).val();
		}
	    });
	    $("#"+names).val(str);
	    if(str){
		$("#seachfrom").submit();
	    }else{
		$("#"+names).val("");
	    }
	});
    var _start      = 1;
    var _startTm    = 1;
    var _whereStr   = "<?=$whereStr?>";
    var _moreUrl    = '/<?=$_mod_?>/getMore/';
    var _hasSale    = "<?=$has?>";
    var _hasTm      = 1;
    var _times      = 0;
    var _tmTimes    = 0;
    var _objTime ;
    
        //加载剩余数据
    function loadMore(){
        //出售与商标库都没有了
        if (!_hasSale && !_hasTm) return false;

        //是否已经在请求中
        if ( _times != 0 || _tmTimes != 0 ) return false; 

        $('#s-uploading').show();
	
        var obj = new objURL('/?'+_whereStr);

        if ( !_hasSale ) {
            if ( _startTm == 1 ) {
                _start = _startTm;
            }else{
                _start++;
            }
            obj.set('_from', '2');
            _tmTimes      = 1;
        }else{
            _start++;
            _times      = 1;
        }
        _objTime    = setTimeout(function(){_times = 0;},30000);
	
        obj.set('_p', _start);
	obj.set('name', "<?=$s['name']?$s['name']:0;?>");
	obj.set('class', "<?=$s['class']?>");
	obj.set('type', "<?=$s['type']?>");
	obj.set('length', "<?=$s['length']?>");
        var params = obj.getparams();
        $("#_tmpDiv").load(_moreUrl, params, function(data,status,xml){
            if (data) {
                $("#_tmpDiv").html('');
                $('#s-uploading').hide();
                clearTimeout(_objTime);
                if ( _hasSale ) {
                    $("#tm-all-list").append(data);
					
                    if (_startTm == 1) $("#tm-uploading").show();
                    _startTm++;
                    _hasTm = true;
                    _tmTimes = 0;
		    _times = 0;
                }
            }else{
                if ( _hasSale ){
                    _hasSale = false;
                    _times = 0;
                    _tmTimes = 0;
                    loadMore();
                }else if ( _hasTm ){
                    _hasTm = false;
                    _times = 0;
                    $('#s-uploading').hide();
                }
            }
        });
    }
	
    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollHeight - scrollTop - windowHeight < 1 )  {
            loadMore();
        }
    });


	
</script>
<? require(ViewDir.'/footer.html'); ?>