<? require(ViewDir.'/header.html'); ?>
	<section class="filt-search top-head">
	    <div class="main">
		<p>符合关键字“<label class="point">xxxxxx</label> ”的商品共有 <span>256441487</span> 条</p>
		<ul class="filt-search-Ind" id="search-Ind">
		    <li class="inp">
			<span><label>全部分类</label><i></i></span>
			<!--全部分类影藏下拉列表选项-->
			<div class="search-Ind-bg">
			    <div class="search-Ind-box">
				<div class="search-Ind-list">
				    <ul>
					<li>
					    <p><a>01<label>类化工原料1</label></a></p>
					    <p><a>02<label>类化工原料2</label></a></p>
					    <p><a>03<label>类化工原料3</label></a></p>
					</li>
					<li>
					    <p><a>01<label>类化工原料4</label></a></p>
					    <p><a>02<label>类化工原料5</label></a></p>
					    <p><a>03<label>类化工原料6</label></a></p>
					</li>
					<li>
					    <p><a>01<label>类化工原料7</label></a></p>
					    <p><a>02<label>类化工原料8</label></a></p>
					    <p><a>03<label>类化工原料9</label></a></p>
					</li>
					<li>
					    <p><a>01<label>类化工原料10</label></a></p>
					    <p><a>02<label>类化工原料11</label></a></p>
					    <p><a>03<label>类化工原料12</label></a></p>
					</li>
				    </ul>

				</div>
				<div class="search-Ind-btn">
				    <a class="off">取消</a>
				    <a class="sure">确定</a>
				</div>
			    </div>
			</div>
			<!--全部分类影藏下拉列表选项END-->
		    </li>
		    <li class="inp">
			<span><label>组合类型</label><i></i></span>
			<!--全部分类影藏下拉列表选项-->
			<div class="search-Ind-bg">
			    <div class="search-Ind-box">
				<div class="search-Ind-list">
				    <ul>
					<li>
					    <p><a>01<label>类化工原料1</label></a></p>
					    <p><a>02<label>类化工原料2</label></a></p>
					    <p><a>03<label>类化工原料3</label></a></p>
					</li>
					<li>
					    <p><a>01<label>类化工原料4</label></a></p>
					    <p><a>02<label>类化工原料5</label></a></p>
					    <p><a>03<label>类化工原料6</label></a></p>
					</li>
					<li>
					    <p><a>01<label>类化工原料7</label></a></p>
					    <p><a>02<label>类化工原料8</label></a></p>
					    <p><a>03<label>类化工原料9</label></a></p>
					</li>
					<li>
					    <p><a>01<label>类化工原料10</label></a></p>
					    <p><a>02<label>类化工原料11</label></a></p>
					    <p><a>03<label>类化工原料12</label></a></p>
					</li>
				    </ul>

				</div>
				<div class="search-Ind-btn">
				    <a class="off">取消</a>
				    <a class="sure">确定</a>
				</div>
			    </div>
			</div>
			<!--全部分类影藏下拉列表选项END-->
		    </li>
		    <li class="inp">
			<span><label>商标字数</label><i></i></span>
			<!--全部分类影藏下拉列表选项-->
			<div class="search-Ind-bg">
			    <div class="search-Ind-box">
				<div class="search-Ind-list">
				    <ul>
					<li>
					    <p><a>01<label>类化工原料1</label></a></p>
					    <p><a>02<label>类化工原料2</label></a></p>
					    <p><a>03<label>类化工原料3</label></a></p>
					</li>
					<li>
					    <p><a>01<label>类化工原料4</label></a></p>
					    <p><a>02<label>类化工原料5</label></a></p>
					    <p><a>03<label>类化工原料6</label></a></p>
					</li>
					<li>
					    <p><a>01<label>类化工原料7</label></a></p>
					    <p><a>02<label>类化工原料8</label></a></p>
					    <p><a>03<label>类化工原料9</label></a></p>
					</li>
					<li>
					    <p><a>01<label>类化工原料10</label></a></p>
					    <p><a>02<label>类化工原料11</label></a></p>
					    <p><a>03<label>类化工原料12</label></a></p>
					</li>
				    </ul>

				</div>
				<div class="search-Ind-btn">
				    <a class="off">取消</a>
				    <a class="sure">确定</a>
				</div>
			    </div>
			</div>
			<!--全部分类影藏下拉列表选项END-->
		    </li>
		</ul>
	    </div>
	</section>
	<section class="filt-list">
	    <ul class="main">
		<? foreach ($list as $k => $v) {?>
		<li>
		    <div class="cont">
			<a class="pic" href="<?=SITE_URL?>d-<?=$v['tid']?>-<?=$v['class']?>.html" target="_blank">
			    <span>
				<img src="<?=$v['pic']['embellish']?>"  onerror="this.src='/Static/1.0/images/img1.png'" width="90" height="60">
			    <span>
			</a>
			<div class="filt-list-btn">
			    <p><?=$v['name']?> <?=$v['class']?>类</p>
			    <a>立即询价</a>
			</div>
		    </div>
		</li>
		<? }?>
	    </ul>
	</section>
	<script type="text/javascript" src="<?=StaticDir?>1.0/script/common.js"></script>
	<script type="text/javascript">
	    //筛选页面下拉列表搜索；
	    var olis = $("#search-Ind li.inp span");
	    var obox = $("#Ind-box");
	    var oas = $(".search-Ind-list").find("a");
	    olis.on(tap, function() {
		olis.removeClass("on");
		$(this).addClass("on");
		$(".search-Ind-bg").hide();
		$(this).siblings(".search-Ind-bg").show();
		$(this).siblings(".search-Ind-bg").find(".search-Ind-list").find("a").on(tap, function() {
		    $(this).addClass("on");
		    $(this).html("03<label>类化工原料3</label><i></i>");
		});
	    });
	    $(".off,.sure").on(tap, function() {
		$(".search-Ind-bg").hide();
		olis.removeClass("on");
		oas.removeClass("on");
		oas.html("03<label>类化工原料3</label>");
	    })
	</script>
<? require(ViewDir.'/footer.html'); ?>