<? foreach ($searchList as $k => $v) {?>
    <li>
	<div class="cont">
	    <a class="pic" href="/d-<?=$v['tid']?>-<?=$v['class']?>.html" title="<?=$v['name']?>" webid="4" addmsg="<?=$v['name']?>"  >
		<span>
		    <img src="<?=$v['pic']['embellish']?>"  onerror="this.src='/Static/1.0/images/img1.png'" width="170" height="100">
		<span>
	    </a>
	    <div class="filt-list-btn">
		<p><?=mb_substr($v['name'], 0, 10, 'UTF-8')?> <?=mb_substr($v['class'], 0, 5, 'UTF-8')?>类</p>
		<a class="xun_price">立即询价</a>
	    </div>
	</div>
    </li>
<? } ?>