/* 引入公用样式 */
@import url("mj-header.css");
@import url("mj-footer.css");
@import url("us-icon.css");
@import url("mj-select.css");
/* 引入全局清除默认浏览器样式 */
@import url("normalize.css");
/*重置body*/
body{
    font:12px / 1.5  'microsoft yahei', 'helvetica neue', 'hiragino sans gb', 'stheiti','\5FAE\8F6F\96C5\9ED1', 'tahoma';
    /*
      -webkit-font-smoothing 在win7 Safari 下面会触发属性导致字体模糊 设置 antialiased
          none  禁用该属性
          subpixel-antialiased  次像素抗锯齿（默认值
          antialiased 抗锯齿（效果更明显）
    */
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizespeed;
    margin: 0;
}


/*清除浮动*/

.f-clearfix:after {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    content: ".";
    visibility: hidden;
}
.f-clearfix{
    zoom: 1;
}
.f-hidden{
    overflow: hidden;
}
.f-dn{
    display: none;
}

.w1180{
    width: 1180px;
    margin: 0 auto;
}
.ms-pt50{
    padding-top: 50px;
}
.ms-pt60{
    padding-bottom: 50px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

