<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../../../Static/1.0/style/common.css">
    <link rel="stylesheet" href="../../../Static/1.0/style/trans.css">
    <script type="text/javascript" src="../../../Static/1.0/script/jquery-1.8.3.min.js?v=<?=$static_version?>"></script>
    <script type="text/javascript">
        //适配rem的兼容代码

        (function(doc, win) {

            var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function() {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth)
                            return;
                        if (clientWidth >= 770) {
                            docEl.style.fontSize = '100px';
                        } else {
                            docEl.style.fontSize = 100 * (clientWidth / 770) + 'px';
                        }
                        $("body").css({"opacity":"1"})
                    };

            if (!doc.addEventListener)
                return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body>
   <div class="qu-ban">
      <span>
          <img src="../../../Static/1.0/images/trans-head.png">
      </span>
       <h4>商品单<br/><label>Commodity list</label></h4>
       <h3>我们为您准备了以下商标，期待您的回应！</h3>
       <p>
           <a href="tel:18618427998">
             <img src="../../../Static/1.0/images/trans-tel.png">18618427998
           </a>
           <a href="tel:18618427998">
               <img src="../../../Static/1.0/images/trans-qq.png">88126374147
           </a>
       </p>
   </div>
   <div class="trans-detal">
       <div class="trans-tit">
           <h2>商标名</h2>
           <h5>商标分类第1类 - 化工原料</h5>
       </div>

       <div class="trans-tj-pic">
           <span>推荐/<label>recommend</label></span>
           <img src="../../../Static/1.0/images/deta-ban.jpg">
       </div>
       <p class="des">
           广告代理,商业调查,替他人推销,人事管理咨询,计算机录入服务,将信息编入计算机数据库,销售展示架出租,寻找赞助,药用、兽医用、卫生用制剂和医疗用品的零售或批发服务
       </p>
       <div class="trans-earth">
           <span>到底了噢</span>
       </div>
       <div class="trans-tit">
           <h2>商标名</h2>
           <h5>商标分类第1类 - 化工原料</h5>
       </div>

   </div>

</body>
</html>