<? require(ViewDir.'/header.html'); ?>
	<section class="sell-table top-head">
		 <ul class="deta-cont-tit">
			<li id="tab1" class="on">我要出售商标</li>
			<li id="tab2" >我要出售专利</li>
		 </ul>
		 <div class="sell-table-list buy-table" id="con_tab_1" style="display: block;">
			<ul>
				<li>
					<label><em>*</em>商标号</label>
					<input type="text" id="tm_number"/>
				</li>
				<li class="price">
					<label><em>*</em>出售价格</label>
					<input type="tel" id="tm_price"/>
					<em>元</em>
				</li>
				<li>
					<label><em>*</em>联系方式</label>
					<input type="tel" id="tm_mobile"/>
				</li>
				<li>
					<a href="" class="tj-btn" id="sub_tm">提交出售信息</a>
				</li>
		   </ul>
		 </div>
		 <div class="sell-table-list buy-table" id="con_tab_2">
			<ul>
				<li>
					<label><em>*</em>专利号</label>
					<input type="tel" id="pt_number"/>
				</li>
				<li class="price">
					<label><em>*</em>出售价格</label>
					<input type="tel" id="pt_price"/>
					<em>元</em>
				</li>
				<li>
					<label><em>*</em>联系方式</label>
					<input type="tel" id="pt_mobile"/>
				</li>
				<li>
					<a href="" class="tj-btn" id="sub_pt">提交出售信息</a>
				</li>
		   </ul>
		 </div>
	</section>
	<section class="sell-btm-ban">
		<div class="sell-btm-ban1">
			<h3><i>添加太麻烦？有大量商品出售？</i></h3>
			<h4>您还可以尝试</h4>
		</div>
		<div class="sell-btm-ban2">
			<p class="sell-zx-btn">
				<a href="" class="sell-serve">
					<img src="<?=StaticDir?>1.0/images/tel-ico.png" />
					致电由客服为您处理
				</a>
				<a href="" class="sell-help">
					<img src="<?=StaticDir?>1.0/images/sell-ico.png" />
					寻求在线客服帮助
				</a>
			</p>
			<div class="sell-btm-tit main">
				<img src="<?=StaticDir?>1.0/images/sell-btm-tit.png" />
			</div>
			<ul class="buy-btm-list">
				<li>
					<span>
						<img src="<?=StaticDir?>1.0/images/buy-ico1.png" />
					</span>

						  专家一对一服务
				</li>
				<li>
					<span>
						<img src="<?=StaticDir?>1.0/images/sell-ico1.png" />
					</span>
						 10分钟极速响应
				</li>
				<li>
					<span>
						<img src="<?=StaticDir?>1.0/images/sell-ico2.png" />
					</span>
						 20w海量数据库
				</li>
			</ul>
		</div>
	</section>
	<script type="text/javascript">
	   //首页商标专利搜索选项卡；
	   $("#tab1").on('click',function(){
		 jc('tab',1,2);
	   });
		$("#tab2").on('click',function(){
		  jc('tab',2,2);
	   });
	   $(function(){
		   //提交商标
		   $('#sub_tm').click(function(){
			   layer_load();
			   //验证商标号
			   var number = $.trim($('#tm_number').val());
			   if(!check_tm(number)){
				   layer_close_load();
				   return false;
			   }
			   //验证价格
			   var price = $.trim($('#tm_price').val());
			   if(!check_price(price)){
				   layer_close_load();
				   return false;
			   }
			   //验证联系人
			   var mobile = $.trim($('#tm_mobile').val());
			   if(!check_mobile(mobile)){
				   layer_close_load();
				   return false;
			   }
			   submit_data('/sell/addsell',{'number':number,'mobile':mobile,'price':price});
		   });
		   //提交专利
		   $('#sub_pt').click(function(){
			   layer_load();
			   //验证商标号
			   var number = $.trim($('#pt_number').val());
			   if(!check_pt(number)){
				   layer_close_load();
				   return false;
			   }
			   //验证价格
			   var price = $.trim($('#pt_price').val());
			   if(!check_price(price)){
				   layer_close_load();
				   return false;
			   }
			   //验证联系人
			   var mobile = $.trim($('#pt_mobile').val());
			   if(!check_mobile(mobile)){
				   layer_close_load();
				   return false;
			   }
			   submit_data('/sell/addPtSell',{'number':number,'mobile':mobile,'price':price});
		   });
	   });
	   //提交数据
	   function submit_data(url,data){
			$.post(url,data,function(res){
				if(res.code==0){
					layer_success('提交成功');
					empty_data();
				}else{
					layer_error(res.msg);
				}
				layer_close_load();
			},'json');
	   }
	   //情空数据
	   function empty_data(){
			$('#tm_number').val('');
			$('#tm_mobile').val('');
			$('#tm_price').val('');
			$('#pt_number').val('');
			$('#pt_mobile').val('');
			$('#pt_price').val('');
	   }
	</script>
<? require(ViewDir.'/footer.html'); ?>