<? require(ViewDir.'/header.html'); ?>
<? require(ViewDir.'/header2.html'); ?>
	<section class="buy-flow top-head">
		<div class="center">
			<span>登记购买需求</span><i></i><span>专业客服服务</span><i></i><span>生成购买订单</span>
		</div>
	</section>
    <div class="main buy-tit">
        <p class="brand-pt-search-tit">
            <b class="on" id="buy1" onclick="jc('buy',1,2)">商标  trademark</b>
            <b  id="buy2" onclick="jc('buy',2,2)">专利  patent</b>
        </p>
    </div>
	<section class="buy-table" id="con_buy_1" style="display: block">
		<ul>
			<li class="dem">
				<label><em>*</em>购买需求</label>
				<textarea id="tm_content"></textarea>
			</li>
			<li>
				<label><em>*</em>联系电话</label>
				<input type="tel" id="tm_mobile"/>
			</li>
			<li>
				<a href="javascript:;" class="tj-btn" id="submit_tm">登记购买信息</a>
			</li>
		</ul>
	</section>
    <section class="buy-table" id="con_buy_2">
        <ul>
            <li class="dem">
                <label><em>*</em>购买需求</label>
                <textarea id="pt_content"></textarea>
            </li>
            <li>
                <label><em>*</em>联系电话</label>
                <input type="tel" id="pt_mobile"/>
            </li>
            <li>
                <a href="javascript:;" class="tj-btn" id="submit_pt">登记购买信息</a>
            </li>
        </ul>
    </section>
	<section class="buy-btm-ban">
		<ul class="buy-btm-list">
			<li>
				<span>
					<img src="<?=StaticDir?>1.0/images/buy-ico1.png" />
				</span>

					  专家一对一服务
			</li>
			<li>
				<span>
					<img src="<?=StaticDir?>1.0/images/buy-ico2.png" />
				</span>
					 10分钟极速响应
			</li>
			<li>
				<span>
					<img src="<?=StaticDir?>1.0/images/buy-ico3.png" />
				</span>
					 20w海量数据库
			</li>
		</ul>
	</section>
	<script type="text/javascript">
		$(function(){
			//提交商标事件
			$('#submit_tm').click(function(){
				layer_load();
				//验证需求
				var content = $.trim($('#tm_content').val());
				if(content==''){
					layer_error('请填写购买需求');
					layer_close_load();
					return false;
				}
				content = '商标需求:'+content;
				//验证手机
				var mobile = $.trim($('#tm_mobile').val());
				if(!check_mobile(mobile)){
					layer_error('请填写正确的手机号码');
					layer_close_load();
					return false;
				}
				//提交数据
				addBuy(content,mobile,5);
			});
			//提交专利事件
			$('#submit_pt').click(function(){
				layer_load();
				//验证需求
				var content = $.trim($('#pt_content').val());
				if(content==''){
					layer_error('请填写购买需求');
					layer_close_load();
					return false;
				}
				content = '专利需求:'+content;
				//验证手机
				var mobile = $.trim($('#pt_mobile').val());
				if(!check_mobile(mobile)){
					layer_error('请填写正确的手机号码');
					layer_close_load();
					return false;
				}
				//提交数据
				addBuy(content,mobile,7);
			});
		});
		//提交求购信息
		function addBuy(need,mobile,type){
			var data = {};
			data['name'] = '';
			data['tel'] = mobile;
			data['subject'] = need;
			data['remarks'] = need;
			data['type'] = type;
			data['pttype'] = "求购";
			buyGoods(data,function(){
				$("#content").text('');
				$("#mobile").val('');
				//提交数据
				var type_0 = 1;
				if(type==7) type_0=2;
				sendBehavior(type_0,ptype,0,0,data.remarks);//发送统计数据
			});
		}
	</script>
<? require(ViewDir.'/footer.html'); ?>