<? require(ViewDir.'/header.html'); ?>
	<section class="buy-flow top-head">
		<div class="center">
			<span>登记购买需求</span><i></i><span>专业客服服务</span><i></i><span>生成购买订单</span>
		</div>
	</section>
    <div class="main buy-tit">
        <p class="brand-pt-search-tit">
            <b class="on" id="buy1" onclick="jc('buy',1,2)">商标  trademark</b>
            <b  id="buy2" onclick="jc('buy',2,2)">专利  patent</b>
        </p>
    </div>

	<section class="buy-table" id="con_buy_1" style="display: block">
		<ul>
			<li class="dem">
				<label><em>*</em>购买需求111</label>
				<textarea id="content"></textarea>
			</li>
			<li>
				<label><em>*</em>联系电话</label>
				<input type="tel" id="mobile"/>
			</li>
			<li>
				<a href="javascript:;" class="tj-btn" id="submit_buy">登记购买信息</a>
			</li>
		</ul>
	</section>
    <section class="buy-table" id="con_buy_2">
        <ul>
            <li class="dem">
                <label><em>*</em>购买需求222</label>
                <textarea id="content"></textarea>
            </li>
            <li>
                <label><em>*</em>联系电话</label>
                <input type="tel" id="mobile"/>
            </li>
            <li>
                <a href="javascript:;" class="tj-btn" id="submit_buy">登记购买信息</a>
            </li>
        </ul>
    </section>
	<section class="buy-btm-ban">
		<ul class="buy-btm-list">
			<li>
				<span>
					<img src="<?=StaticDir?>1.0/images/buy-ico1.png" />
				</span>

					  专家一对一服务
			</li>
			<li>
				<span>
					<img src="<?=StaticDir?>1.0/images/buy-ico2.png" />
				</span>
					 10分钟极速响应
			</li>
			<li>
				<span>
					<img src="<?=StaticDir?>1.0/images/buy-ico3.png" />
				</span>
					 20w海量数据库
			</li>
		</ul>
	</section>
	<script type="text/javascript">
		$(function(){
			//获取焦点时,隐藏提示
			$('#content,#mobile').focus(function(){
				success();
			});
			//提交事件
			$('#submit_buy').click(function(){
				layer_load();
				//验证需求
				var content = $.trim($('#content').text());
				if(content==''){
					error('请填写购买需求');
					layer_close_load();
					return false;
				}
				//验证手机
				var mobile = $.trim($('#mobile').val());
				if(check_mobile(mobile)){
					error('请填写正确的手机号码');
					layer_close_load();
					return false;
				}
				//提交数据
				addBuy(content,mobile);
			});
		});
		//提交求购信息
		function addBuy(need,mobile){
			var data	= new Array();
			data['name'] 	= '';
			data['tel'] 	= mobile;
			data['subject'] = need;
			data['remarks'] = need;
			data['pttype'] = "求购";
//			sendBehavior(1,12, 0, 0,'tel:'+mobile+' 需求:'+need);//保存操作信息
			ucNetwork.submitData(data);
		}
		//提交信息回调
		function submitDataCallback(Obj){
			$.each(Obj,function(i,n){
				clearBuy();
				var obj ;
				//用户登录情况下
				if(n.code==1 || n.code==2){
					//弹出成功框
					obj = $('#mj-submitteS');
				}else{
					//弹出失败框
					obj = $('#mj-submitteF');
				}
				layer.open({
					type: 1,
					title: false,
					closeBtn: false,
					area: ['485px', '226px'],
					content: obj
				});
				$(".mj-close").bind("click",function(){
					layer.closeAll();
				});
				layer.closeAll('loading'); //关闭加载层
			});
		}
		//清空信息
		function clearBuy(){
			$("#content").text('');
			$("#mobile").val('');
		}
		//失败提醒
		function error(msg){
			$('#tip').text(msg).show();
		}
		//成功提醒 默认隐藏提醒,type为1时提示指定消息
		function success(type,msg) {
			if(typeof type == 'undefined') type = 0;
			if(type){
				$('#tip').text(msg).show();
			}else{
				$('#tip').text('').hide();
			}
		}
	</script>
<? require(ViewDir.'/footer.html'); ?>
