<? require(ViewDir.'/header.html'); ?>
	<section class="buy-flow top-head">
		<div class="center">
			<span>登记购买需求</span><i></i><span>专业客服服务</span><i></i><span>生成购买订单</span>
		</div>
	</section>
	<section class="buy-table">
		<ul>
			<li class="dem">
				<label><em>*</em>购买需求</label>
				<textarea></textarea>
			</li>
			<li>
				<label><em>*</em>联系电话</label>
				<input type="tel" />
			</li>
			<li>
				<a href="" class="tj-btn">登记购买信息</a>
			</li>
		</ul>
	</section>
	<section class="buy-btm-ban">
		<ul class="buy-btm-list">
			<li>
				<span>
					<img src="<?=StaticDir?>1.0/images/buy-ico1.png" />
				</span>

					  专家一对一服务
			</li>
			<li>
				<span>
					<img src="<?=StaticDir?>1.0/images/buy-ico2.png" />
				</span>
					 10分钟极速响应
			</li>
			<li>
				<span>
					<img src="<?=StaticDir?>1.0/images/buy-ico3.png" />
				</span>
					 20w海量数据库
			</li>
		</ul>
	</section>
<? require(ViewDir.'/footer.html'); ?>
